/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}
p, li {
    color: rgb(255, 0, 0);
    font-size: 14px;
}

/* Barra de nav */

header, .navbar {
    background-color: black;
    outline : 1px solid #950000;

}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 125px;
}

.navbar-brand {
    padding: 0;
    color: white;
}

.navbar-brand:hover {
    color: white;

}

#navbar-links a {
    color: #fff;
    cursor: pointer;
}

#navbar-links a:hover {
    color: rgb(255, 0, 0);
}


#navbar-links a .active {
    color: rgb(255, 0, 0);
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
    }


/* slider */



#mainSlider .carousel-inner, #mainSlider .carousel-item {
     height: 90vh;

}


#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption h3 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: white;
}

.main-btn a {
    color: black;
    text-decoration: none;
    transition:.5s;
}

.main-btn {
    text-transform: uppercase;
    font-family: bold;
    
    margin-right: 840px;
    padding: 10px 20px;
    transition: .5s;
    text-decoration: none;
    color: white;
    width: 182px;
    height: 36px;
    border-radius: 0px 20px;
    border: 1px solid #BF5943;
    background: #E27B41;
}

.main-btn:hover{
    text-decoration: none;
    color: #E27B41;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
}


.carousel-indicators {
    text-decoration: none;
}

.carousel-indicators .active {
    background-color: #f96565;

  }

  #imgbleach{ filter: brightness(
    70%
    ); }
    
  #imgjujutsu{ filter: brightness(
    60%
    ); }
    
  #imgkimetsu{ filter: brightness(
    50%
    ); }
    
  #imgonepiece{ filter: brightness(
    70%
    ); }


/* about, slider */
  
    
#mainSlider  #japanese-title{
    font-size: 60px;
  
    text-align: left;
    margin-bottom: 20px;
    color: #E27B41;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition:.5s;
}
    
#mainSlider  #title-anime{
    font-size: 80px;

    
    font-family: Mohave;
    text-align: left;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition:.5s;
}

    
#mainSlider  #type-streaming{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#mainSlider  .carousel-control-prev{
    position: absolute;
}


#mainSlider  .carousel-control-next{
    position: absolute;
}

.pipe {
    position: flex;
    justify-content: right;
    width: 50%;
    margin-right: 20px;
    margin-top: 50px;
    color: red;
}

.pipe:After {
    content: 'GeekPlay';
    font-size: 44px;
    font-weight: bold;

    color: white;
   
}

/* Inicio do footer */

footer {
    background-color: black;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 30px;
    outline : 1px solid #950000;
}
.Rodape {
    color: rgb(255, 255, 255);
    
    font-size: 10px;
    
}
.paragrafo_rodape{
    text-decoration: none;
    color: white;
    font-size: 10px;

}
/*Fim do footer*/

/*Inicio do Main*/

#container-img{
    background-image: url('/img/Anime\ index\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    padding: 0;

}
.animes-filmes-e-muito-mais {
  color: #ffffff;
  text-align: left;
  font-family: "Literata-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  height: 435px;
}
.Texto_bem-vindo{
    color: #ffffff;
    text-align: left;
    font-family: "Literata-Bold", sans-serif;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    top: 190px;
    left: 30px;
}
.Texto_Animes{
    color: #ffffff;
    text-align: left;
    font-family: "Literata-Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 160px;
    left:30px;
}
.Texto_sobre{
    color: #ffffff;
    text-align: left;
    font-family: "Literata-Bold", sans-serif;
    font-size: 30px;
    font-weight: 500;
    position:relative;
    top: 200px;
    left: -270px;
    width: 100%;
    justify-content:left;
}
.img_fundo{
    background-image: url('/img/Img Fundo index.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 300%;
    height: 800px;
    margin-left: -300px;

}
.img_logo img{
    background-repeat: no-repeat;
    position:absolute;
    width: 50%;
    height: 100%;
    margin-top: -550px;
    right: 10px;
}
.retangulo_Planos{
    border: 2px solid rgb(255, 255, 255);
    width: 150px;
    height: 60px;
    margin: 10px;
    padding: 15px;
    position: absolute;
    margin-top: 10%;
    text-align: center;
    color: #ff0000;
    font-family: "Podkova", serif;
    font-optical-sizing: auto;
    font-size: 130%;




}

.retangulo_Sobre{
    
    border: 2px solid rgb(255, 255, 255);
    width: 150px;
    height: 60px;
    margin: 10px;
    padding: 15px;
    position: absolute;
    margin-top: 10%;
    left: 30%;
    text-align: center;
    color: #ff0000;
    font-family: "Podkova", serif;
    font-optical-sizing: auto;
    font-size: 130%;

}
.retangulo_1 {
  border-style: solid;
  border-color: #5d5d5d;
  border-width: 2px;
  height: 350px;
  width: 3000px;
  margin-top: 30%;
}

.retangulo_Filme{
   
  width: 295px;
  height: 347px;
  margin-top: 2px;
  margin-left: 100px;
}
.retangulo_Mangas{
 
    width: 285px;
    height: 347px;
    margin-top: -27%;
    margin-left: 500px;
  
  }
.retangulo_Anime{
  border-width: 4px;
  width: 284px;
  height: 347px;
  margin-top:-26%;
  margin-left: 900px;
}
.titulo_filme{
    display: flex;
    color: white;
    text-align: left;
    font-family: "Literata-Bold", sans-serif;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    top: 30px;
    left: 60px;
}
.paragrafo_filme_1{
    color: white;
    text-align: left;
    font-family: "Literata-Regular", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 40px;
    left: 10px;
    display: flex;
}
.paragrafo_filme_2{
    display: flex;
       color: white;
    text-align: left;
    font-family: "Literata-Regular", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 40px;
    left: 10px;
}
.icone_Filme{
    
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: white;
    margin-top: -160%;
}
.icone_manga{
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: white;
    margin-top: -170%;
}
.titulo_Manga{
    display: flex;
    color: white;
    text-align: left;
    font-family: "Literata-Bold", sans-serif;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    top: 15px;
    left: 60px;
}

.paragrafo_manga_1{
    color: white;
    text-align: left;
    font-family: "Literata-Regular", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 30px;
    left: 10px;
    display: flex;
}

.paragrafo_manga_2{
    color: white;
    text-align: left;
    font-family: "Literata-Regular", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 30px;
    left: 10px;
    display: flex;
}
.icone_anime{
    
    right: 15px;
    font-size: 30px;
    color: white;
    margin-top: -170%;
}
.titulo_Anime{
    color: white;
    text-align: left;
    font-family: "Literata-Bold", sans-serif;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    top: 15px;
    left: 60px;
    display: flex;
}

.paragrafo_anime_1{
    color: white;
    text-align: left;
    font-family: "Literata-Regular", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 30px;
    left: 10px;
    display: flex;
}

.paragrafo_anime_2{
    color: white;
    text-align: left;
    font-family: "Literata-Regular", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 30px;
    left: 10px;
    display: flex;
}
.retangulo_2{
    border-style: solid;
    border-color: #5b5b5b;
    border-width: 2px;
    height: 647px;
    width: 3000px;
    margin-top: 10%;
    display: flex;
}

.Titulo_FILME{
    color: rgb(255, 0, 0);
    text-align: left;
    font-family: "Kreon", serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-weight: 700;
    position: relative;
    top: 120px;
    left: 60px;
    display: flex;
}
.paragrafo_FILME{
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: "Literata-Regular", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 240px;
    left: -130px;
    display: flex;
}
/*Imagens FILMES*/
.img_filme_1{
    position: relative;
    left: 140px;
 
}
.img_filme_2{
    position: relative;
    left: 140px;
 
}
.img_filme_3{
    position: relative;
    left: 140px;

}
.img_filme_4{
    position: relative;
    left: 140px;
}
.GENEROS_DISPONIVEIS{
    color: white;
    text-align: center;
    font-family: "Literata-Regular", sans-serif;
    font-size: 20px;
    position: relative;
    height: 435px;
    top: 500px;
    right: 850%;

}


.retangulo_3{
    border-style: solid;
    border-color: #5b5b5b;
    border-width: 2px;
    height: 747px;
    width: 3000px;
    margin-top: 10%;
}
.Titulo_ANIME{
    color: rgb(255, 0, 0);
    text-align: left;
    font-family: "Kreon", serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-weight: 700;
    position: relative;
    top: 120px;
    left: 60px;
    display: flex;
}

.PARA_ANIME{
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: "Literata-Regular", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 240px;
    left: -130px;
    display: flex;
}
.GENEROS {
    color: white;
    text-align: center;
    font-family: "Literata-Regular", sans-serif;
    font-size: 20px;
    position: relative;
    height: 435px;
    top: 500px;
    right: 850%;
}
/*Fim do Main*/










































/* Inicio css filmes*/


input[type="text"]{
    width: 500px;
    padding: 12px 20px;
    margin: 8px ;
    justify-content: center;
text-decoration: none;
    border: none;
  
    border-radius: 40px;
    
}
.centralizarSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin-right: -5%;
    width: 100%;
}
.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(255, 255, 255, 0.1);
position: relative;
    overflow: hidden; /* quando o conteudo excede o tamanho o hidden corta e não mostra essa parte*/
}
.movie img{
    width: 100%;
}

.mainFilmes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.movie-info{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /*coloca um espaço entre titulo do filme e a categoria dele de rating (9,8)*/
padding: 0.5rem 1rem 1rem;
letter-spacing: 0.5px;
}
.movie-info h3{
    margin-top: 0;
}
.movie-info span{
    padding: .25rem 0.5rem; /*altura e largura*/
    border-radius: 3px;
    font-weight: bold;
    background-color: darkcyan;
}
.movie-info span.green{
    color:lightgreen
}
.movie-info span.orange{
    color:orange
}
.movie-info span.red{
    color:red;
}
/*fazer agora a parte em que o resumo vai aparecer passando o mouse*/
.descricao{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; /*faz o texto do resumo ficar sobre a imagem*/
    background-color: #fff;
    padding: 1rem;
    max-height:100% ;
    transform: translateY(101%) /*parte da transição, animação de aparecer oresumo,
    com isso o 101% faz ele desaparecer*/;
    transition: transform 0.3s ease-in;

}

/*agr irei fazer o Hover para quando passar o mouse voltar pra 0
o tranlateY(0)*/
.movie:hover .descricao{
    transform: translateY(0);
}

























































/*Filmes css*/
