*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

/* Estilos para o topo da página */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

}

header nav {
    display: flex;
    gap: 1rem;
}

header nav a {
    color: white;
 
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

